@import url('https://fonts.googleapis.com/css2?family=Catamaran&family=DM+Sans&family=Finger+Paint&family=Oxygen:wght@700&display=swap');

:root {
  --font-heading: 'Finger Paint', cursive;
  --font-heading2: 'DM Sans', sans-serif;
  --font-text: 'Catamaran', sans-serif;


  --color-white: #FFFFFF;
  --color-lightblue: #0573B8;
  --color-darkblue: #0A4F94;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}